.nav {
    width: 800px;
    background-color: rgb(107, 107, 107);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

a{
    color: rgba(245, 245, 245, 0.719);
    text-decoration: none;
}

.active, .nav-title{
    color: white;
}

.btn {
    background-color: rgb(0, 168, 168);
    border: 2px solid black;
    color: white;
    box-shadow: 3px 3px 3px black;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    color: rgb(107, 107, 107);
}