h1, p {
    text-align: center;
    font-family:sans-serif;
}
#container {
    width: 800px;
    margin: 0px auto;
}

img.octocat {
    height: 200px;
}

.row1, .row2, .row3{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.row1{
    background-color: green;
    justify-content: space-between;
}

.row2{
    background-color: crimson;
    justify-content: space-evenly   ;
}

.row3{
    background-color: blue;
    justify-content: space-between;
}